@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: hidden;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.checkbox-container {
    cursor: pointer;
}

.checkbox-checkmark {
    background-color: rgba(0,0,0,0.2);
}

input .checkbox-checkmark {
    background-color: blue;
}